{
  "env": {
    "es6": true,
    "node": true
  },
  "extends": [
    "airbnb"
  ],
  "rules": {
    "arrow-body-style": ["error", "always"],
    "curly": "error",
    "indent": ["error", 2],
    "max-len": "off",
    "no-console": "off",
    "quotes": ["warn", "single"],
    "strict": "off"
  }
}
